
nav{
    position: fixed;
    background-color: brown;
    padding: 20px;
    text-align: right;
    width: 1293px;
}
a{
    font-family: Arial, sans-serif;
    color: white;
    text-align: right;
    text-decoration: none;
    padding-right: 20px;
}
a:hover{
    z-index: 1;
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1{
    color: white;
    font-size: 50px;
}
.section1{
    text-align: center;
    background-color: rgb(8, 8, 8);
    padding-bottom: 150px;
    padding-top: 150px;
}
.section1 p{
    color: brown;
    font-size: 25px;
}
.section2{
    background-color: darkslateblue;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}
.section2 h2{
    text-decoration: none;
    border-bottom: 1px solid;
    margin-bottom: 20px;
    width: 350px;
    margin-left: 470px;
}
footer{
    padding-top: 20px;
    background-color: rgb(61, 66, 66);
    color: white;
    text-align: center;
}
.liens img{
    height: 20px;
    width: 20px;
    padding-left: 40px;
    padding-top: 30px;
}
.liens{
    padding-left: 70px;
    padding-bottom: 50px;
    border-bottom: 10px solid brown;

}
.bmg img{
    height: 250px;
    width: 320px;
    padding: 30px;
}
.anime img{
    height: 280px;
    width: 320px;
    padding: 30px;
}
.text .p1{
    text-align: left;
}
.text .p2{
    text-align: right;
}